
<div class="row">
  <h3>For Rent!</h3>

  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 rental" ng-repeat="rental in rc.result.rentals">
    <p>rent: {{rental.rent}}</p>
    <p>size: {{rental.sqft}}</p>
    <p>location: {{rental.city}}</p>
    <!-- <img src="{{rc.image.config.url}}"> -->
    <button ng-click="rc.editProperty(rental._id, rental)"><span class="glyphicon glyphicon-pencil"></span></button>
    <button ng-click="rc.deleteProperty(rental._id)"><span class="glyphicon glyphicon-trash"></span></button>


  </div>
</div>
