
  <h3 id="rentalsHead">RENTALS</h3>

<h4 id="bestDealsHead">Our TOP 6 Deals:</h4>
<div class="row" id="bestDeals">
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 bestRental" ng-repeat="best in rc.best">
    <p><label>Rent:</label> {{best.rent | currency}}</p>
    <p><label>Size:</label> {{best.sqft}} ft<sup>2</sup></p>
    <p><label>Location:</label> {{best.city}}</p>
    <p><label>Value (ft<sup>2</sup>/dollar):</label> {{best.values}}</p>

</div>
</div>

<br>
<h3 class="head">All Rentals</h3>
  Search: <input type="text" ng-model="rc.search">
  <button ng-click="rc.searchRentals()">Search</button>
  <button ng-click="rc.getRentals()">See all</button>
  <br>
  <br>
  Sort by: <select ng-model="rc.sort">
    <option value="rent">Rent</option>
    <option value="size">Size</option>
  </select>
  <button ng-click="rc.orderDescending()"><span class="glyphicon glyphicon-triangle-bottom"></span></button>
  <button ng-click="rc.orderAscending()"><span class="glyphicon glyphicon-triangle-top"></span></button>
  <br>

<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 rental" ng-repeat="rental in rc.rentals">
    <p><label>Rent:</label> {{rental.rent | currency}}</p>
    <p><label>Size:</label> {{rental.sqft}} ft<sup>2</sup></p>
    <p><label>Location:</label> {{rental.city}}</p>
    <button ng-click="rc.editProperty(rental._id, rental)"><span class="glyphicon glyphicon-pencil"></span></button>
    <button ng-click="rc.deleteProperty(rental._id)"><span class="glyphicon glyphicon-trash"></span></button>
    <!-- <button ng-click="rc.addFave(rental._id, rental)"><span class="glyphicon glyphicon-star"></span></button> -->


  </div>
</div>
