
.rental, .listing {
  background-color: lightGray;
  margin: 18px;
  padding: 10px;
  border-radius: 6px;
}

body {
  background-color: #FFECCC
}

#bestDeals, #bestListDeals {
  background-color: chocolate;
}

#bestDealsHead, #rentalsHead, #listingsHead, #bestDealsListHead, .nav, .head {
  text-align: center;
}

form {
  margin-right: 20px;
}

.bestRental {
  background-color: lightPink;
  margin: 18px;
  padding: 10px;
  border-radius: 6px;
  margin-left: 25px;
}

#tagline {
  font-style: italic;
  margin-left: 15px;
  font-size: 19px;
  color: chocolate;
}

form {
  background-color: lightBlue;
  padding: 10px;
  border-radius: 8px;
  /*height: 180px;
  width: 200px;*/
}

input, select {
  margin: 4px;
}

select option:empty {
  display: none
}


h1 {
  color: goldenrod;
  margin-left: 20px;
}

a {
  font-size: 27px;
  color: goldenrod;

}

#navBar {
  background-color: navy;

}

canvas {
  margin: 25px;
  border-color: blue;
}
