
.rental, .listing {
  background-color: lightGray;
  margin: 18px;
  padding: 10px;
  border-radius: 6px;
}

body {
  background-color: #FFECCC
}

#bestDeals {
  background-color: goldenrod;
}

#bestDealsHead {
  text-align: center;
}

.bestRental {
  background-color: lightPink;
  margin: 18px;
  padding: 10px;
  border-radius: 6px;
}

#tagline {
  font-style: italic;
  margin-left: 15px;
  font-size: 20px;
  color: #EF476F;
}

form {
  background-color: lightBlue;
  padding: 10px;
  border-radius: 8px;
  /*height: 180px;
  width: 200px;*/
}

input, select {
  margin: 4px;
}



h1 {
  color: goldenrod;
}

a {
  font-size: 18px;
}

canvas {
  margin: 15px;
}
